{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Change-Password{% endblock %}</h1>
{% endblock %}

{% block main %}
<center>
  <br>
  <br>
  <br>
  <h1><b>Change Password</b></h1>
  <div class="class=col-lg-4 col-md-6 col-sm-12">
    <br>
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <div class="row my-3">
      {{form.current_password.label(class_="input-group-text")}}
      {{form.current_password( class_="form-control")}}
    </div>
    <div class="row my-3">
      {{form.new_password.label(class_="input-group-text")}}
      {{form.new_password( class_="form-control")}}
    </div>
    <div class="row my-3">
      {{form.confirm_password.label(class_="input-group-text")}}
      {{form.confirm_password( class_="form-control")}}
    </div>

    {{form.submit(class_="btn btn-outline-secondary")}}
  </form>
</div>
</center>

{% endblock %}