{% extends 'base.html' %}

{% block main %}
<center>
  <br>
  <br>
  <br>
  <h1><b>Sign up</b></h1>
  <div class="class=col-lg-4 col-md-6 col-sm-12">
    <br>
    <form method="POST" action="">
      
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.username.label(class_="input-group-text")}}
        {{form.username( class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.password.label( class_="input-group-textl")}}
        {{form.password( class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.firstname.label( class_="input-group-text")}}
        {{form.firstname( class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.lastname.label( class_="input-group-text")}}
        {{form.lastname( class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.birthday.label( class_="input-group-text")}}
        {{form.birthday( class_="form-control")}}
      </div>

      <div class="row my-3">
        {{form.email.label( class_="input-group-text")}}
        {{form.email( class_="form-control")}}
      </div>

      
      {{form.submit(class_="btn btn-outline-secondary")}}

    </form>
  </div>
  <br>
  <br>
  <br>
</center>

{% endblock %}