{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block main %}
<center>
  <br>
  <br>
  <br>
  <h1><b>Login</b></h1>
  <div class="class=col-lg-4 col-md-6 col-sm-12">
    <br>
    <form method="POST" action="">
      <br>
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.username.label(class_="input-group-text")}}
        {{form.username( class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.password.label(class_="input-group-text")}}
        {{form.password(class_="form-control")}}

      </div>
      {{form.submit(class_="btn btn-outline-secondary")}}
      <br>
      <br>
      <h6><strong>Don't have an account ?</strong><a href="{{url_for('signup.signup')}}"> Sign Up</a> </h6>
    </form>
  </div>
  
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br>

</center>
{% endblock %}