{% extends 'base.html' %}
<!-- title -->
{% block title %}Add-Category{% endblock %}

<!-- content block -->
{% block main %}

<center>


  <h1><b>Add Category</b></h1>
  <div class="class=col-lg-4 col-md-6 col-sm-12">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.value.label(class_="input-group-text")}}
        {{form.value(class_="form-control")}}
      </div>
      <div class="row my-3">
        {{form.label.label(class_="input-group-text")}}
        {{form.label(class_="form-control")}}
      </div>

      
      {{form.submit(class_="btn btn-outline-secondary")}}
      
    </form>

  </div>

</center>


{% endblock %}