{% extends 'base.html' %}
<!-- title -->
{% block title %}Profile-Page{% endblock %}

<!-- content block -->
{% block main %}



<center>
    <br>
    <br>
    <br>
    <h1><b>Blocked users</b></h1>
    <br>
        <div class="col-lg-10 col-md-6 col-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{users | count}} - Users</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>


            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>


                <th scope="row">{{loop.index}}</th>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{{url_for('profile.unlock_disable_user_user_list' , user_id = user.id)}}"> <i class="fas fa-unlock ml-3" title="Unlock"></i></a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br><br>
    {% if users %}

    <a href="{{url_for('profile.display_users')}}"><button type="button" class="btn btn-outline-secondary">Users-List</button></a>

   </div></div>
   {% else %}
   <P>No Blocked Users, back to<a href="{{url_for('profile.display_users')}}"> Users-List</a> </P>
  
   {% endif %}
</center>


{% endblock %}