{% extends 'base.html' %}


{% block main %}
<div class="row my-5 mx-auto">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.current_password.label}}
        {{form.current_password}}
      </div>
      <div class="row my-3">
        {{form.new_password.label}}
        {{form.new_password}}
      </div>
      <div class="row my-3">
        {{form.confirm_password.label}}
        {{form.confirm_password}}
      </div>
      <hr class="mb-4" />
      {{form.submit}}
    </form>
  </div>
</div>
{% endblock %}