{% extends 'base.html' %}
<!-- title -->
{% block title %}Profile-Page{% endblock %}

<!-- content block -->
{% block main %}



<center>
    <br>
    <br>
    <br>
    <h1><b>Users</b></h1>
    <br>
    <div class="alert alert-warning" role="alert">
        Users : {{users | count}} - Buyer : {{buyer_user | count}} - Seller : {{seller_user | count}} - Items : {{items | count}}
      </div>
    
        <div class="col-lg-10 col-md-6 col-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{users | count}} - Users</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Delete-Block</th>


            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>


                <th scope="row">{{loop.index}}</th>
                <td>{{user.username}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a role="button" class="btn btn-outline-secondary" href="{{url_for('profile.remove_user' , user_id = user.id)}}">delete<i class="fas fa-user-times ml-4" title="Remove-User"></i> </a>
                    <a role="button" class="btn btn-outline-secondary" href="{{url_for('profile.disable_user_list' , user_id = user.id)}}">block   <i class="fas fa-user-slash" title="Disable-User"></i></a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{{url_for('profile.disabled_list')}}"><button type="button" class="btn btn-outline-secondary">Blocked Users List</button></a>

   </div></div>
</center>


{% endblock %}