{% extends 'base.html' %}


{% block main %}
<div class="row my-5 mx-auto">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="row my-3">
        {{form.username.label}}
        {{form.username}}
      </div>
      <div class="row my-3">
        {{form.password.label}}
        {{form.password}}
      </div>
      <div class="row my-3">
        {{form.firstname.label}}
        {{form.firstname}}
      </div>
      <div class="row my-3">
        {{form.lastname.label}}
        {{form.lastname}}
      </div>
      <div class="row my-3">
        {{form.username.label}}
        {{form.username}}
      </div>
      <div class="row my-3">
        {{form.birthday.label}}
        {{form.birthday}}
      </div>

      <div class="row my-3">
        {{form.email.label}}
        {{form.email}}
      </div>

      <hr class="mb-4" />
      {{form.submit}}
    </form>
  </div>
</div>
{% endblock %}