{% extends 'base.html' %}
<!-- title -->
{% block title %}Profile-Page{% endblock %}

<!-- content block -->
{% block main %}


<center>
    <h1><b>{{user.username}}' profile</b></h1>
    
    {% if session['user']['role'] == 0 %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Favorites-List</span>
        <a href="{{url_for('profile.view_favorite')}}"><button type="button"
                class="btn btn-outline-secondary">Favorites-List</button></a>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Your-Buy-Requests</span>
        <a href="{{url_for('profile.request_upgrade')}}"><button type="button"
                class="btn btn-outline-secondary">Your-Buy-Requests</button></a>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Upgrade-Request</span>
        <a href="{{url_for('profile.request_upgrade')}}"><button type="button"
                class="btn btn-outline-secondary">Upgrade-Request</button></a>
    </div>

    {% endif %}

    {% if session['user']['role'] == 1 and session['user']['role'] == 0 %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Edit-Profile</span>
        <a href="{{url_for('user.edit_profile_user')}}"> <button type="button"
                class="btn btn-outline-secondary">Edit-Profile</button></a>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Change-Password</span>
        <a href="{{url_for('user.change_password')}}"><button type="button"
                class="btn btn-outline-secondary"></button></a>
    </div>

    {% endif %}

    {% if session['user']['role'] == 2 %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Display-Users</span>
        <a href="{{url_for('profile.display_users')}}"><button type="button"
                class="btn btn-outline-secondary">Display-Users</button></a>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Add-Category</span>
        <a href="{{url_for('profile.request_upgrade')}}"><button type="button"
                class="btn btn-outline-secondary">Add-Category</button></a>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Maintanance-On</span>
        <a href="{{url_for('profile.request_upgrade')}}"><button type="button"
                class="btn btn-outline-secondary">Maintanance-On</button></a>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Maintanance-Off</span>
        <a href="{{url_for('profile.request_upgrade')}}"><button type="button"
                class="btn btn-outline-secondary">Maintanance-Off</button></a>
    </div>

    {% endif %}

</center>


{% endblock %}