{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Add-Item{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block main %}
<form method="POST" action="">
    {{form.hidden_tag()}}
    <div class="row my-3">
      {{form.title.label}}
      {{form.title}}
    </div>
    <div class="row my-3">
      {{form.description.label}}
      {{form.description}}
    </div>
    <div class="row my-3">
      {{form.price.label}}
      {{form.price}}
    </div>
    <div class="row my-3">
      {{form.category.label}}
      {{form.category}}
    </div>

    <hr class="mb-4" />
    {{form.submit}}

  </form>


{% endblock %}